<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit(input)">
    <div class="form-group">
      <h2 style="color:green">Enter URL:</h2>
      <textarea rows="10"  autoGrow class="form-control" id="urlStrings" required [(ngModel)]="urlStrings"
                name="urlStrings" placeholder="Enter URL strings separated by new line.."></textarea>

    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<h2 style="color:green" *ngIf="activeSpinner">Processing URL...</h2>
<h2 style="color:green" *ngIf="!activeSpinner">Results:</h2>
<md-progress-bar mode="indeterminate" color="warm" *ngIf="activeSpinner"></md-progress-bar>
<div class="example-container mat-elevation-z8">
  <md-table class="example-container .align-table .mat-table"  #table [dataSource]="dataSource" mdSort>

    <ng-container mdColumnDef="timestamp">
      <md-header-cell *mdHeaderCellDef md-sort-header>Timestamp</md-header-cell>
      <md-cell *mdCellDef="let row">{{row.timestamp}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="url">
      <md-header-cell *mdHeaderCellDef md-sort-header>URL</md-header-cell>
      <md-cell *mdCellDef="let row">{{row.url}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="error">
      <md-header-cell *mdHeaderCellDef md-sort-header>Error</md-header-cell>
      <md-cell *mdCellDef="let row">{{row.error}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="status">
      <md-header-cell *mdHeaderCellDef md-sort-header>Status</md-header-cell>
      <md-cell class="example-cell" [style.color]="row.status" *mdCellDef="let row">{{row.status}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="responseTime">
      <md-header-cell *mdHeaderCellDef md-sort-header>Response Time(500)</md-header-cell>
      <md-cell *mdCellDef="let row">{{row.responseTime}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="retry">
      <md-header-cell *mdHeaderCellDef md-sort-header>Retry</md-header-cell>
      <md-cell class="col-xs-6 col-sm-3" *mdCellDef="let row">{{row.retry}}</md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>



