<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile name="file" fileName="./logs/UrlMonitor.log" immediateFlush="false" append="false" filePattern="./logs/UrlMonitor  -%d{'%d{yyyy-MM-dd}.log.gz">
      <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c %x - %m%n"/>
      <TimeBasedTriggeringPolicy />
    </RollingFile>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c %x - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <AsyncLogger name="com.urlmonitor" level="DEBUG" />
    <AsyncRoot level="WARN">
      <AppenderRef ref="file" />
      <AppenderRef ref="console" />
    </AsyncRoot>
  </Loggers>
</Configuration>
